extend layout

block definitions
 - var footcornerleft_image="/images/fingerhut-frei.png" 
 - var footcornerright_image="/images/nadelkissen-frei.png"

block style
  include:stylus index.styl


block head
   +img('home/head')

block content
    include:markdown /index.md
