main-color = #fa5b4d
bgc = rgba(255,255,255,1)
stdw = 1024px

body 
	font-family: Arial, sans-serif
	font-weight: normal
	font-size: 10pt
	letter-spacing: 1px
	background-image: url(/images/hg-muster.png)
	background-repeat: repeat

h1 , a 
	font-weight: bold
	font-size: 10pt
	letter-spacing: 1px	
	color: #0
	text-decoration: none

a:visited 
	color: #0
	text-decoration: none
	font-weight: bold
	letter-spacing: 1px

a:hover, a:active 
	color: #0
	text-decoration: underline
	font-weight: bold;
	letter-spacing: 1px;


.main 
	margin: 10px 0px 0px 20%
	width: stdw

.logoline
	width: 500px
	height: 90px
.head
	width: stdw
	background-color: bgc

.panel
	width: stdw
	// ^ > v <	
	padding: 0 0 0 10px
	background-color: bgc
.panel td
	vertical-align: top;

.navcol   
	width: 160px
	margin: 20px 0 20px 0
	padding: 10px 0 0 0
.navcol ul
	margin: 0
	padding: 0
	list-style-type: none

.navcol li
	border-style: solid
	border-radius: 40px
	border-width: 0 10pt 0 10pt
	border-color: #FF
	padding: 3px 1px 1px 7px
	margin: 6px 6px 5px 0

.navcol li:hover
	border-color: #E3 #800 #E3 #800
	background-color: #E3

.navcol a:hover
	color: #800
	text-decoration: none

.rightcol
	width: 168px 
	
.content
	border: 7px solid #E3
	margin: 20px 0 20px 0
	padding: 10px

.content h1 
	margin: 0 0 9pt 0


.content p 
	margin: 0 0 6pt 0

.foot 
	background-color: bgc
	
.noshow
	position: absolute
	left: -500px
	top: 0px