mixin img(imgname)
  img(src="/images/#{imgname}.png")


mixin navi(pos, ...locs)
  ul
    each loc in locs
      li
        a(href= loc.url)= loc.text

doctype
html
  head
    title Quilt Kult - #{title}
    block definitions
    style
      include:stylus layout.styl
      block style
  body
    // preload background to avoid flikr
    .noshow
      +img("hg-muster")
    // main body starts here  
    .main
      .logoline
        +img('logo')
        +img('stich')
        +img('fuer')
        +img('stich')
      .head
        block head
        +img("naht")
      table(class="panel")
            tr
              td
                .navcol
                   include:markdown /navi.md
              td
                .content  
                  block content
              td
                .rightcol
                  block right 
      .foot
           +img("naht")
      .footcornerleft
          if footcornerleft_image
            img(src="#{footcornerleft_image}")
      .footcornerright
           if footcornerright_image
            img(src="#{footcornerright_image}")